@import url("fonts.css");

@import url("reset.css");

body {
    font-family: "Cormorant Infant", sans-serif;
    font-size: 20px;
    color: black;
    margin: 0 auto;
}
.jewels {
    max-width: 1264px;
    max-height: 714px;
    padding: 20px;
    font-size: 0;
}
.jewels-title {
    width: 488px;
    height: 150px;
    display: inline-block;
    font-size: 0;
}
.title {
    font-family: "Cormorant Infant", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.15;
    color: #000000;
}
.section-1 {
    width: 344px;
    height: 486px;
    margin-right: 45px;
    display: inline-block;
    font-size: 0;
}
.box-1 {
    width: 334px;
    height: 381px;
    border: 1px solid #000000;
}
.text-box {
    width: 232px;
    margin-top: 34px;
    font-size: 0;
}
.text-box p {
    font-family: "Cormorant Infant", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #000000;
}
.jewels-img {
    padding-top: 9px; 
    padding-left: 10px;
}
.jewels-subtitle {
    width: 339px;
    height: 156px;
    font-family: "Cormorant Infant", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.13;
    color: #000000;
    margin-bottom: 31px;
}
.section-2 {
    width: 339px;
    display: inline-block;
    font-size: 0;
}
.box-2 {
    width: 334px;
    height: 381px;
    display: inline-block;
    border: 1px solid #000000;
}




.line {
    height: 5px;
    background-color: red;
    margin-bottom: 10px;
}




.work {
    max-width: 1260px;
    max-height: 519px;
    padding: 20px;
    font-size: 0;
}
.work-box {
    width: 137px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 541.5px;
    margin-bottom: 16px;
}
.work-box::before {
    content: "";
    background-color: #40DDB6;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;
}
.work-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-left: 468.5px;
    margin-bottom: 73.5px;
}
.block-1,
.block-2 {
    width: 386px;
    height: 307px;
    background-color: #F4F4F4;
    display: inline-block;
    margin-right: 31px;
}
.block-3 {
    width: 386px;
    height: 307px;
    background-color: #F4F4F4;
    display: inline-block;
}
.work-subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #37393F;
    text-align: center;
    margin-bottom: 16px;
}
.link {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #6B77E5;
    margin-left: 137px;
}
.link:hover {
    color: #1e2ba0;
    text-decoration: underline;
}
.block-1 p,
.block-2 p,
.block-3 p {
    width: 300px;
    height: 79px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.46;
    font-weight: 400;
    color: #7D7D7D;
    margin-bottom: 37px;
    margin-left: 43px;
    text-align: center;
}
.block-1::before {
    content: "";
    background: url(../img/icon_date.png) 0 0 no-repeat;
    display: inline-block;
    width: 72px;
    height: 72px;
    margin-top: -36px;
    margin-left: 157px;
    margin-bottom: 19px;
}
.block-2::before {
    content: "";
    background: url(../img/icon_puzzle.png) 0 0 no-repeat;
    display: inline-block;
    width: 72px;
    height: 72px;
    margin-top: -36px;
    margin-left: 157px;
    margin-bottom: 19px;
}
.block-3::before {
    content: "";
    background: url(../img/icon_ok.png) 0 0 no-repeat;
    display: inline-block;
    width: 72px;
    height: 72px;
    margin-top: -36px;
    margin-left: 157px;
    margin-bottom: 19px;
}




.business {
    max-width: 715px;
    max-height: 875px;
    padding: 20px;
}
.business-box {
    width: 200px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    color: #37393F;
    margin-bottom: 16px;
    margin-top: 18px;
}
.business-box::before {
    content: "";
    background: url(../img/box_green.png) 0 0 no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
}
.business-title {
    width: 414px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #37393F;
    margin-bottom: 10px;
}
.business-block {
    width: 673px;
    margin-bottom: 48px;
}
.business-block p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
    color: #7D7D7D;
}
.business-block p:not(:last-child) {
    margin-bottom: 16px;
}
.vision,
.mision {
    width: 675px;
    height: 151px;
    border: 1px solid #E3E3E3;
    padding: 28px 41px 28px 38px;
}
.vision {
    margin-bottom: 31px;
}
.mision {
    margin-bottom: 48px;
}
.vision p,
.mision p {
    width: 550px;
    height: 53px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.46;
    color: #7D7D7D;
    margin-left: 46px;
}
.list-subtitle {
    min-height: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #37393F;
}
.list-subtitle::before {
    content: "";
    background: url(../img/icon_list.png) 0 0 no-repeat;
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 19px;
    margin-top: 6.5px;
}
.business-link {
    width: 200px;
    height: 64px;
    background-color: #6B77E5;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    color: #FFFFFF;
    padding: 21px 35px;
}
.business-link:hover {
    text-decoration: underline;
}
.business-link:active {
    background-color: #17206d;
}






.management {
    max-width: 732px;
    max-height: 852px;
    padding: 20px;
}
.management-title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
    color: #37393F;
    margin-bottom: 3px;
}
.management-text p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.46;
    color: #7D7D7D;
    margin-bottom: 42px;
    text-align: justify;
}
.blue {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    color: #6B77E5;
    margin-bottom: 12px;
}
.benefits {
    width: 692px;
    height: 263px;
    font-size: 0;
    margin-bottom: 50px;
}
.benefits-img {
    width: 331px;
    height: 261.5px;
    background: url(../img/notebook.png) 0 0 / 331px 261.5px no-repeat;
    margin-right: 29px;
    display: inline-block;
}
.benefits-text {
    width: 332px;
    height: 263px;
    display: inline-block;
    vertical-align: top;
}
.benefits-title {
    height: 32px;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    color: #37393F;
    margin-bottom: 15px;
}
.green {
    min-height: 54px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    color: #40DDB6;
    margin-bottom: 21px;
}
.benefits-list {
    width: 313px;
    height: 141px;
}
.benefits-list li{
    min-height: 21px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    color: #7D7D7D;
    text-align: justify;
}
.benefits-list li::before {
    content: "";
    background: url(../img/icon_list.png) 0 0 no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
.benefits-list li:not(:last-child){
    margin-bottom: 30px;
}
.questions p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.46;
    color: #7D7D7D;
    text-align: justify;
}


.click-game {
    width: 200px;
    height: 100px;
    background-color: #1ccc48;
    border-radius: 20px;
    margin: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
    color: #FFFFFF;
    padding: 35px 50px;
}
.click-game:active {
    background-color: #04290c;
}
.click-game:hover {
    color: #000000;
    text-decoration: underline;
}